<%= form_for [@room, @booking], method: 'post', html: { role: 'form' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :start_date, 'From' %>
    <%= f.text_field :start_date, class: "form-control", readonly: true %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, 'To' %>
    <%= f.text_field :end_date, class: "form-control", readonly: true %>
  </div>
  <div class="form-group">
    <%= f.label :customer_name, 'Name' %>
    <%= f.text_field :customer_name, class: "form-control", placeholder: 'Enter your name' %>
  </div>
  <div class="form-group">
    <%= f.label :customer_email, 'Email' %>
    <%= f.text_field :customer_email, class: "form-control", placeholder: 'Enter your email' %>
  </div>
  <div class="form-group">
    <%= f.label :price, 'Total Price' %>
    <%= f.number_field :total_price, class: "form-control", readonly: true %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-default' %>
<% end %>