<section class="booking-info">
  <p>Hotel: <%= @booking.hotel %></p>
  <p>Room: <%= @booking.room_type %></p>
  <p>Customer: <%= @booking.customer_name %></p>
  <p>Contact info: <%= @booking.customer_email %></p>
  <p>Total price: <%= @booking.total_price %>€</p>
</section>